:root, [data-theme="default"]{
    --base-background-color: rgba(38, 41, 50, 1.0);
    --thumb-border-color: rgba(255, 255, 255, 0.7);
    --color-wheel-control-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.85) inset;
    --brightness-control-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
    --input-controls-tab-header-background-color: rgba(41, 45, 53, 1.0);
    --input-controls-tab-header-font-color: rgba(255, 255, 255, 1.0);
    --input-controls-tab-background-color: rgba(0, 0, 0, 0.1);
    --range-input-control-background-color: rgba(55, 61, 71, 0.6);
    --range-input-control-background-color--focused: rgba(55, 61, 71, 0.5);
    --range-input-control-font-color: rgba(255, 255, 255, 1.0);
    --range-input-control-selection-color:rgba(0, 0, 0, 0.5);
    --range-input-control-progress-color:rgba(37, 43, 48, 1.0);
    --text-input-control-background-color: rgba(55, 61, 71, 0.6);
    --text-input-control-background-color--focused: rgba(55, 61, 71, 0.5);
    --text-input-control-font-color: rgba(255, 255, 255, 1.0);
    --text-input-control-selection-color:rgba(0, 0, 0, 0.5);
}

[data-theme="light"]{
    --base-background-color: rgba(217, 214, 205, 1.0);
    --thumb-border-color: rgba(255, 255, 255, 0.7);
    --color-wheel-control-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45) inset;
    --brightness-control-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
    --input-controls-tab-header-background-color: rgba(221, 218, 210, 1.0);
    --input-controls-tab-header-font-color: rgba(35, 35, 35, 1.0);
    --input-controls-tab-background-color: rgba(122, 122, 122, 0.1);
    --range-input-control-background-color: rgba(221, 218, 210, 0.6);
    --range-input-control-background-color--focused: rgba(222, 220, 220, 0.5);
    --range-input-control-font-color: rgba(35, 35, 35, 1.0);
    --range-input-control-selection-color:rgba(255, 255, 255, 0.5);
    --range-input-control-progress-color:rgba(228, 228, 228, 1.0);
    --text-input-control-background-color: rgba(221, 218, 210, 0.6);
    --text-input-control-background-color--focused: rgba(222, 220, 220, 0.5);
    --text-input-control-font-color: rgba(35, 35, 35, 1.0);
    --text-input-control-selection-color:rgba(255, 255, 255, 0.5);
}

.color-picker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: auto;
    min-height: 226px;
    background: var(--base-background-color);
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                            0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                                0px 1px 5px 0px rgba(0,0,0,.12);
    -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                            0px 1px 5px 0px rgba(0,0,0,.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                        0px 1px 5px 0px rgba(0,0,0,.12);
    z-index: 1000;
}
.color-picker-controls{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.color-picker-controls-group{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
}

.color-picker-wheel-control {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 140px;
    border: none;
}
.color-picker-wheel-control::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--base-background-color);
    border-radius: 50%;
    -webkit-box-shadow: var(--color-wheel-control-box-shadow);
    -moz-box-shadow: var(--color-wheel-control-box-shadow);
    box-shadow: var(--color-wheel-control-box-shadow);
    margin: -1px;
    pointer-events: none;
}
.color-picker-brightness-control {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 8px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 10px;
}
.color-picker-brightness-control::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -webkit-box-shadow: var(--brightness-control-box-shadow);
    -moz-box-shadow: var(--brightness-control-box-shadow);
    box-shadow: var(--brightness-control-box-shadow);
    pointer-events: none;
}
.color-picker-wheel-control-thumb,
.color-picker-brightness-control-thumb {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--thumb-border-color);
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                            0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                                0px 1px 5px 0px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                            0px 1px 5px 0px rgba(0, 0, 0, .12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
                        0px 1px 5px 0px rgba(0, 0, 0, .12);
    cursor: pointer;
    z-index: 1000;
}
.wheel-canvas,
.brightness-canvas {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.color-picker-input-controls{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--input-controls-tab-background-color);
    border-radius: 3px;
    overflow: hidden;
}
.color-picker-input-controls-tab-headers{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    overflow: hidden;
}
.color-picker-input-controls-tab-headers button{
    position: relative;
    display: block;
    width: 33.33%;
    height: 100%;
    background: var(--input-controls-tab-header-background-color);
    font-size: 9px;
    color: var(--input-controls-tab-header-font-color);
    border: none;
    outline: none;
}
.color-picker-input-controls-tab-headers button.selected{
    background: none;
}
.color-picker-input-controls-tabs{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 4px;
}
.color-picker-input-controls-tab{
    position: relative;
    display: flex;
    flex-direction: column;
}
.color-picker-input-controls-tab:not(.selected){
    display: none;
}


input{
    font-size: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.range-input-control{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 20px;
    margin: 1px 0 0 0;
    background: var(--range-input-control-background-color);
    font-size: 10px;
    cursor: ew-resize;
    overflow: hidden;
}
.range-input-control:hover,
.range-input-control.range-input-control--focused{
    background: var(--range-input-control-background-color--focused);
}
.range-input-control:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.range-input-control:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.range-input-control .range-input-enter-block,
.range-input-control .range-input-details-block{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.range-input-control:not(.range-input-control--key-input-mode) .range-input-enter-block{
    display: none;
}
.range-input-control.range-input-control--key-input-mode .range-input-enter-block{
    display: block;
}
.range-input-control:not(.range-input-control--key-input-mode) .range-input-details-block{
    display: block;
}
.range-input-control.range-input-control--key-input-mode .range-input-details-block{
    display: none;
}
.range-input-control input{
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: auto;
    background: none;
    border: none;
    color: var(--range-input-control-font-color);
    text-align: center;
    outline: none;
}

.range-input-control input::-moz-selection { background: var(--range-input-control-selection-color); }
.range-input-control input::selection { background: var(--range-input-control-selection-color); }
.range-input-control .range-input-progress{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--range-input-control-progress-color);
}
.range-input-control .range-input-label,
.range-input-control .range-input-value{
    position: absolute;
    display: block;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(0, -50%);
    color: var(--range-input-control-font-color);
    pointer-events: none;
}
.range-input-control .range-input-label{
    left: 5px;
}
.range-input-control .range-input-value{
    right: 5px;
}


.text-input-control{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 20px;
    background: var(--text-input-control-background-color);
    font-size: 10px;
    margin: 1px 0 0 0;
    cursor: text;
    overflow: hidden;
}
.text-input-control:hover,
.text-input-control.text-input-control--focused{
    background: var(--text-input-control-background-color--focused);
}
.text-input-control:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.text-input-control:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.text-input-control .text-input-enter-block,
.text-input-control .text-input-details-block{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.text-input-control:not(.text-input-control--focused) .text-input-enter-block{
    display: none;
}
.text-input-control.text-input-control--focused .text-input-enter-block{
    display: block;
}
.text-input-control:not(.text-input-control--focused) .text-input-details-block{
    display: block;
}
.text-input-control.text-input-control--focused .text-input-details-block{
    display: none;
}
.text-input-control input{
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: auto;
    background: none;
    color: var(--text-input-control-font-color);
    text-align: center;
    border: none;
    outline: none;  
}
.text-input-control input::-moz-selection { background:var(--text-input-control-selection-color); }
.text-input-control input::selection { background:var(--text-input-control-selection-color); }
.text-input-control .text-input-label,
.text-input-control .text-input-value{
    position: absolute;
    display: block;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(0, -50%);
    color: var(--text-input-control-font-color);
    pointer-events: none;
}
.text-input-control .text-input-label{
    left: 5px;
}
.text-input-control .text-input-value{
    right: 5px;
}